.App {
  text-align: center;
}

body {
  background: teal;
  margin: 13%;
  padding: 10px;
}

div {
  margin: auto;
  background: pink;
  border-radius: 40px;
}

h5 {
  text-decoration: none;
  font-family: fantasy;
  padding: 4px;
  color: teal;
  font-size: 20px;
}

a{
  text-decoration: none;
  font-family: fantasy;
  font-size: 14px;;
  color:#e48e9c;
}

button {
  background-image: url(https://media.istockphoto.com/photos/marijuana-leaves-isolated-on-white-background-picture-id805709994?k=6&m=805709994&s=612x612&w=0&h=BWpAo-FumiOehKXRXTPqGQeXqAUzke0iicQk5mYSTj4=);
  background-size: 350px;
  border: groove;
  border-radius: 50px;
  padding: 15px 25px 15px;
  display: inline-flex;
  justify-content: space-between;
  font-size: 40px;
  font-family: fantasy;
}

h1{
  font-family: fantasy;
  font-style: italic;
  font-weight: 100;
  font-size: 40px;
  
}
footer{
  bottom: 0;
  width:100%;
  border: none;
  background-size: 300px 100px;
}
footer img{
  display: flexbox;
  justify-content: space-between;
  width: 300px;
  height: 200px;
  border-radius: 40px;
  border: ridge;
}
header{
  margin: 5px;
  padding: 2px;
  text-align: center;
  font-family: fantasy;
  font-size: 40px;
  display: flexbox;
  justify-content: first baseline;
  text-emphasis: none;
}